<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegrationtoNAVSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="IntegrationtoNAVSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mtnav.guzelenerji.com.tr/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationtoNAVSoap"
                contract="IntegrationtoNAV.IntegrationtoNAVSoap" name="IntegrationtoNAVSoap" />
        </client>
    </system.serviceModel>
</configuration>